<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="utf-8">
	<title>ZED Delivery Bot</title>
	<meta name="viewport"
	      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="MobileOptimized" content="176"/>
	<meta name="HandheldFriendly" content="True"/>
	<meta name="robots" content="noindex, nofollow"/>
	<script src="https://tg.dev/js/telegram-web-app.js?7"></script>

	<link href="{% static 'css/cafe.css' %}" rel="stylesheet">
</head>
<body style="background-color: white">
<section class="cafe-page cafe-items">
	{% for i in products %}
	<div class="cafe-item js-item" data-item-id="{{i.id}}" data-item-price="4990">
		<div class="cafe-item-counter js-item-counter">0</div>
		<div class="cafe-item-photo">
			<picture class="cafe-item-lottie js-item-lottie">
				<source type="application/x-tgsticker" srcset="{% static '/img/tgs/Burger.tgs' %}">
				{% if i.image %}
				<img src="{{ i.image.url }}"
				     style="border-radius: 8px"
				     alt="Burger">
				{% endif %}
			</picture>
		</div>
		<div class="cafe-item-label">
			<span class="cafe-item-title">{{ i.name }}</span>
			<span class="cafe-item-price">{{ i.price }} so'm</span>
		</div>
		<div class="cafe-item-buttons">
			<button class="cafe-item-decr-button js-item-decr-btn button-item ripple-handler">
				<span class="ripple-mask"><span class="ripple"></span></span>
			</button>
			<button class="cafe-item-incr-button js-item-incr-btn button-item ripple-handler">
				<span class="button-item-label">Add</span>
				<span class="ripple-mask"><span class="ripple"></span></span>
			</button>
		</div>
	</div>
	{% endfor %}
	<div class="cafe-item-shadow"></div>
	<div class="cafe-item-shadow"></div>
	<div class="cafe-item-shadow"></div>
	<div class="cafe-item-shadow"></div>
</section>
<div id="picker"
         style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%"></div>
</div>
<div class="cafe-status-wrap">
	<div class="cafe-status js-status"></div>
</div>
<script src="https://tg.dev/js/jquery.min.js"></script>
<script src="https://tg.dev/js/tgsticker.js?27"></script>
<script src="{% static 'js/cafe.js' %}"></script>
<script type="text/javascript">
    Telegram.WebApp.ready();
    Telegram.WebApp.MainButton.setText('Order').show().onClick(function () {
        // Get the item quantity and price from the cafe app
        const items = document.getElementsByClassName('js-item');
        const order = [];

        Array.from(items).forEach(function(item) {
            const id = item.getAttribute('data-item-id');
            const quantity = parseInt(item.querySelector('.js-item-counter').innerText);
            const priceElement = item.querySelector('.cafe-item-price');
            const price = parseFloat(priceElement.innerText.replace('$', ''));
            const title = item.querySelector('.cafe-item-title').innerText;

            order.push({id: id, quantity: quantity, price: price, title: title});
        });

        const data = JSON.stringify(order);
        Telegram.WebApp.sendData(data);
        Telegram.WebApp.close();
    });
</script>
<script type="text/javascript">
    Telegram.WebApp.expand();
</script>
<script>
    Cafe.init({
        "apiUrl": "<?php echo $_ENV['REMOTE_PATH'] . '/telegram' ?>",
        "userId": 0,
        "userHash": null
    });
</script>



</body>
</html>